.section-clients {
    padding-top: 94px;
    padding-bottom: 94px;

    &__header {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    }

    &__list {

        display: flex;
    }

    &__box {
        display: flex;
    }

    &__link {
        margin-right: 30px;
        box-sizing: border-box;
        width: 170px;
        height: 92px;
        color: #AFB1B8;
        border: 1px solid #AFB1B8;
        border-radius: 4px;

        transition-property: var(--links-buttons-text-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: #2196F3;
            border: 1px solid #2196F3;
        }
    }


    &__link1 {
        margin-right: 0px;
        box-sizing: border-box;
        width: 170px;
        height: 92px;
        color: #AFB1B8;
        border: 1px solid #AFB1B8;
        border-radius: 4px;

        transition-property: var(--links-buttons-text-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: #2196F3;
            border: 1px solid #2196F3;
        }
    }





    &__icon0 {
        width: 41px;
        height: 46.7px;
        margin-top: 23px;
        margin-right: 65px;
        margin-left: 64px;
        margin-bottom: 22.3px;
        fill: currentColor;
    }

    &__icon1 {
        width: 40px;
        height: 52px;
        margin-top: 19px;
        margin-right: 65px;
        margin-left: 65px;
        margin-bottom: 21px;
        fill: currentColor;
    }

    &__icon2 {
        width: 43.46px;
        height: 41.18px;
        margin-top: 24.7px;
        margin-right: 64.86px;
        margin-left: 61.68px;
        margin-bottom: 26.12px;
        fill: currentColor;
    }

    &__icon3 {
        width: 84.44px;
        height: 40.62px;
        margin-top: 24.7px;
        margin-right: 42.56px;
        margin-left: 43px;
        margin-bottom: 26.68px;
        fill: currentColor;
    }

    &__icon4 {
        width: 62.54px;
        height: 45.43px;
        margin-top: 22.77px;
        margin-right: 53.46px;
        margin-left: 54px;
        margin-bottom: 23.8px;
        fill: currentColor;
    }

    &__icon5 {
        width: 93.79px;
        height: 43.93px;
        margin-top: 22.77px;
        margin-right: 38.21px;
        margin-left: 38px;
        margin-bottom: 25.31px;
        fill: currentColor;
    }

}